/* Background Image*/
.hero-layout-transparent {
  /* Photo by Émile Perron on Unsplash */
  background: url("https://lh3.googleusercontent.com/e9rzrJd7bQ-TSQRe_2jh7Wf9hi2kY5Y7Q_rYgZPaGQtLfu9xTtTZ1-0rLfnXfC0ZnbYQtub7fGuf3pfYFFHA8N6mngnz_3Pw0TEzb8-C-LbFxO1Fa0Fn2bFeeu2VdqTiqxxieoqDAxhrqXf8Pd05tZQdfXnD_msCTvmDFdxYLr-cq-LQ2UU4LkEr15j5-HN5R3qtcyk4Fvj5tOWAcFUXiW22gYwDRBss2KTgzB--av8ZnEdErW5MB_yXZY-39Uc4gKKFWdW8eoGb1lCrJ6plrGxJ0K-Ub8ZP_qjmEMvQko2WAB6i2oyYZtQ10swwRbpiDx-u1xJJJ3b3-LceEFkcNtQyxrqkYCkA6zI__602zsQUk9h5EE69u2uxgbzfdf1zK9AuR2tqCD_Cz3-52gAjxkVVScB1nMMFHUkAsvCLKcaxZpPZoLUuSd_Y2NbCzzzVau4WaV8meu8-or-Gy1pCPAELdnnb24FcmkeTQI50dBT6sktokEdT9i13PxCyyWWzC3DPf4Nm2a3zMvJ0wmyZiMieLXRXhFXqu3xm524mzJGur0my20Ys5kzBrj1LKJll8Mafkni2andS8xlvMHGmngVp7chteUr7LBrRdspeDLXBFJXb3memhgwun4SIcu2fDy_maw53bgRNT9QjTRt7Wp3jK8G3Clw=w1241-h698-no") center / cover;
}

/* Header and Drawer */
.hero-layout-transparent .mdl-layout__header,
.hero-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

/* Header Shadows */
#title,
.mdl-layout__drawer-button {
  text-shadow: 2px 3px 5px #000000;
}

/* Nav Links */
.active-link {
  background: rgba(0, 0, 0, 0.2);
}

.active-link:hover {
  background: rgba(0, 0, 0, 0.25) !important;
}

.mdl-navigation__link:hover {
  background: rgba(0, 0, 0, 0.15);
}

.social-links {
  text-align: center;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

span.seperator {
  display: none;
}

/* Containers */
.mdl-card {
  background: rgba(255, 255, 255, 0.97) !important;
  margin: auto;
  margin-bottom: 0.6em;
}

.container-max-width {
  max-width: 900px;
  margin: auto;
  margin-top: 5vh;
}

.container-text {
  max-width: 700px;
}

img.portfolio-image {
  width: 100%;
  height: auto;
}

img.profile-image {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

#profile-container {
  margin: auto;
}

/* Contact Form */
.container-contact .mdl-textfield {
  width: 100%;
}

.container-contact form {
  max-width: 550px;
  margin: auto;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-navigation__link {
    text-shadow: 2px 3px 5px #000000;
  }
}

@media screen and (min-width: 480px) {
  .lbreak {
    display: none;
  }

  span.seperator {
    display: inline;
  }
}
