/* Background Image*/
.hero-layout-transparent {
  /* Photo by Émile Perron on Unsplash */
  background: url("https://lh3.googleusercontent.com/LIhV0gUZG2G0JKJwVzdTMOStIkpffbysJMZMWh_6os4Gmc07-spuvmSXI6u0RjHGZcE4n-XVLnJb1_aUVMecrKX5yWzECb0PWJcwIFaOCjcSeNfmUcEh8Aj8ulIAAKo_J6I1xycERQ2DJt9UEKlXEsJ_IDY5QvHb70keRadqL5NavdUhYGtjcIot2rzQcTw6K5v4LapEHo0wTlJEDOyl8FvULiE29Mra0UO99LYFYhMTvOiXOnrIoBEIg5-ol8DKxNjLNimmAJVrLZyz0Dcr-rQjm4HvPY4V8RhUFuGRQ4ERhIuv0XHgnzuswGR6u4OxO_PkQg1p0wrhhS35P7d02Mewh66WOWkDYpbJHxvXSiYOjzQySOCYxqZ_5_YxJ7k8qqd86Sm-6d_H65wIWQZuAwDUYHN2rq9QxTfjuXymtyhUFZGfas2MjC_oDUv8ROZoL7WK_j0yW_pnXracZiF5cummenZpZU5DnVOYWIJsvIx3cejvmUHyb-eOdk6hUoIV2NsKxxFk-u6RC9lseUD21Z0dq8WbbkHD8cryMkyAJECyvJOakP7zbmm9pBZHcxjZuQK9K5ZPGMEx8Wv_nyjToXQDLFVTGu8bMKw7oWXLmL-lbHo6HsRXspijI7tDOM2xF9bwrDoUED6Ee7vRddtmkKaz5cW5Sf0=w1241-h698-no") center / cover;
}

/* Header and Drawer */
.hero-layout-transparent .mdl-layout__header,
.hero-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

/* Header Shadows */
#title,
.mdl-layout__drawer-button {
  text-shadow: 2px 3px 5px #000000;
}

/* Nav Links */
.active-link {
  background: rgba(0, 0, 0, 0.2);
}

.active-link:hover {
  background: rgba(0, 0, 0, 0.25) !important;
}

.mdl-navigation__link:hover {
  background: rgba(0, 0, 0, 0.15);
}

.social-links {
  text-align: center;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

span.seperator {
  display: none;
}

/* Containers */
.mdl-card {
  background: rgba(255, 255, 255, 0.97) !important;
  margin: auto;
  margin-bottom: 0.6em;
}

.container-max-width {
  max-width: 900px;
  margin: auto;
  margin-top: 5vh;
}

.container-text {
  max-width: 700px;
}

img.portfolio-image {
  width: 100%;
  height: auto;
}

img.profile-image {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

#profile-container {
  margin: auto;
}

/* Contact Form */
.container-contact .mdl-textfield {
  width: 100%;
}

.container-contact form {
  max-width: 550px;
  margin: auto;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-navigation__link {
    text-shadow: 2px 3px 5px #000000;
  }
}

@media screen and (min-width: 480px) {
  .lbreak {
    display: none;
  }

  span.seperator {
    display: inline;
  }
}
